* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: auto;
}

a {
    color: inherit;
    text-decoration: none;
}

@font-face {
    font-family: 'guitarHero';
    src: url('./nightmare_hero_normal-webfont.woff') format('woff'),
        /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
        url('./nightmare_hero_normal-webfont.woff2') format('woff'),
        url('./Nightmare_Hero_Normal.ttf') format('truetype');
    /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

body {
    margin: 0;
    height: 100vh;
    font-size: 1.5em;
    font-family: 'Odibee Sans', cursive;
    letter-spacing: 0.5px;
}

canvas {
    display: block;
}

.main-menu {
    display: block;
    height: 100%;
    width: 100%;
    z-index: 1;
    background: url('../images/concert.jpeg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #99badd;
}

.serv {
    display: flex;
    flex-wrap: wrap;
    /* padding-left: 0; */
}

.serv li {
    list-style: none;
    flex: 0 0 33.333333%;
    font-family: guitarHero;
    /* max-width: calc(33.333%); */
}

.title {
    text-align: center;
    font-size: 1.3em;
}

.github {
    text-align: left;
    padding-left: 10px;
    padding-top: 30px;
}

.github a img {
    width: 43px;
}

.instructionsBtn {
    text-align: right;
    padding-right: 10px;
}

.content-ctr {
    background-color: rgb(0, 0, 0, 0.85);
    border-radius: 1%;
    width: 80%;
    padding: 25px;
    margin: 0 auto;
}

.difficulty-ctr {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.difficulty-ctr ul {
    display: flex;
    justify-content: space-around;
}

.difficulty-list li {
    cursor: pointer;
}

.difficulty-list li p {
    text-align: center;
}

.difficulty-list li img {
    visibility: hidden;
}

#default-diff {
    color: #9564c5;
}

#default-diff img {
    visibility: visible;
}

.guitar-img {
    max-width: 100%;
    height: auto;
}

.instructions {
    cursor: pointer;
    position: relative;
    float: right;
    right: 0;
    margin: 10px 20px;
}

.hide {
    display: none;
}

.features {
    display: none;
}

.game-features {
    position: absolute;
    background-color: rgb(0, 0, 0, 0.8);
    color: #9564c5;
    width: 20%;
    left: 10px;
    top: 10px;
    padding: 20px;
    border-radius: 0.3em;
    /* text-align: center; */
    border: 0.1em solid #9564c5;
    font-size: 1.3em;
    word-wrap: break-word;
}

#score-ctr {
    text-align: center;
}

#pause,
#quit {
    position: absolute;
    width: 140px;
}

#return {
    position: relative;
    width: 50%;
}

#pause,
#quit,
#return {
    text-transform: uppercase;
    cursor: pointer;
    padding-bottom: 0.3em;
    border: 0.1em solid #99badd;
    border-radius: 0.3em;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    transition: all 0.2s;
    color: #99badd;
    letter-spacing: 1px;
    font-size: 1.2em;
    background-color: rgb(0, 0, 0, 0.8);
    font-family: guitarHero;
}

#pause {
    right: 10px;
    top: 10px;
}

#pause:focus,
#quit:focus,
#return:focus {
    outline: none;
}

#quit {
    display: none;
    right: 10px;
    top: 110px;
}

#countdown {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    font-size: 24vw;
    text-shadow: -1px 0 #99badd, 0 1px #99badd, 1px 0 #99badd, 0 -1px #99badd;
}

#score,
#notes-in-row,
#multiplier {
    color: #99badd;
    /* font-weight: bold; */
}

.song-ctr,
.venue-ctr {
    /* text-align: center; */
    margin-bottom: 30px;
    width: 100%;
}

.play-ctr {
    text-align: center;
}

.song-list {
    width: 100%;
    height: 200px;
    overflow: hidden;
    overflow-y: scroll;
    background-color: rgba(128, 128, 128, 0.7);
}

.song-list li {
    cursor: pointer;
    padding: 5px;
    border-bottom: solid black 1px;
    border-top: solid black 1px;
    color: rgb(0, 0, 0, 0.8);
}

.song-list li:nth-child(1) {
    background-color: #663399bb;
}

.img-list {
    display: table;
    width: 100%;
    overflow: hidden;
    text-align: center;
    /* background-color: rgba(128, 128, 128, 0.7); */
}

.img-list li {
    height: 100%;
}

.img-list li img {
    width: 80%;
}

.song-list::-webkit-scrollbar,
.venue-list-ctr::-webkit-scrollbar {
    width: .4em;
    border-radius: 50%;
}

.song-list::-webkit-scrollbar-track,
.venue-list-ctr::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: rgba(128, 128, 128, 0.7);
}

.song-list::-webkit-scrollbar-thumb,
.venue-list-ctr::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

#venue-select {
    width: 80%;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.col {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    height: 100%;
}

@media only screen and (min-width: 768px) {

    /* Desktop */
    .col {
        flex: 1;
    }
}

@media only screen and (max-width: 970px) {
    .title {
        font-size: 0.9em;
    }

    .instructionsBtn {
        font-size: 0.7em;
    }

    .github {
        padding-top: 15px;
    }
}

@media only screen and (max-width: 700px) {
    .title {
        font-size: 0.7em;
    }
}

.venue-list-ctr {
    overflow-x: auto;
}

/* ul */
.venue-list {
    list-style: none;
    /* margin: 12px; */
    display: inline-flex;
    height: 200px;
    background-color: rgba(128, 128, 128, 0.7);

}

/* li */
.venue-list li {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* margin: 15px; */
    width: 150px;
    padding: 10px;
    border: solid rgb(0, 0, 0, 0.8) 2px;
    cursor: pointer;
    color: rgb(0, 0, 0, 0.8);
}

#default-venue {
    background-color: #663399bb;
}

.venue-list li img {
    width: 150px;
    height: 80px;
}

hr {
    width: 100%;
    margin: 5px 0 20px 0;
    color: rgba(128, 128, 128, 0.7);
    border-color: rgba(128, 128, 128, 0.7);
    background-color: rgba(128, 128, 128, 0.7);
}

.buttons {
    text-align: center;
}

.enter {
    display: inline-block;
    cursor: pointer;
    width: 35%;
    padding: 0.3em 1.2em;
    margin: 0.5em 2em;
    border: 0.1em solid rgba(255, 255, 255, 0);
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    transition: all 0.2s;
}

.enter:hover {
    background-color: #663399bb;
}

#play-btn {
    color: #00FF00;
    border-color: #00FF00;
}

#song-btn {
    color: #FF7F00;
    border-color: #FF7F00;
}

#song-stats p {
    text-align: left;
    margin: 0 4px;
}

.stats-hr {
    margin: 5px 0 10px 0;
}

.stars {
    color: gold;
    font-size: 1.8em;
    text-shadow: 1px black;
    text-align: center !important;
}

@media all and (max-width:30em) {
    .enter {
        display: block;
        margin: 0.2em auto;
    }
}

#album-list li {
    display: none;
}

#default-img {
    display: block !important;
}

/* meter bar */
.whole {
    display: block;
    position: absolute;
    right: 4%;
    top: 36%;
    width: 150px;
    height: 50%;
    background-color: rgba(128, 128, 128, 0.7);
    padding: 20px;
    border-radius: 0.3em;
    border: 0.1em solid #99badd;
    word-wrap: break-word;
}

.nums {
    height: 100%;
    width: 80%;
    float: left;
    display: block;
    position: relative;
    font-size: 1.2em;
}

.ctr,
.nums {
    float: left;
    height: 100%;
}

.nums p {
    display: block;
    position: absolute;
    margin-left: 20px;
    padding: 0 12px 12px 12px;
    border-radius: 1em;
    background-repeat: no-repeat;
}

#onex {
    padding-bottom: 0;
    z-index: 1000;
}

#fourx {
    top: 0;
    background: url("../images/blue-fire.png");
    background-size: 0;
}

#threex {
    top: 30%;
    background: url("../images/blue-fire.png");
    background-size: 0;
}

#twox {
    top: 60%;
    background: url("../images/blue-fire.png");
    background-size: 0;
}

#onex {
    bottom: 0;
    position: absolute;
    display: block;
    background: url("../images/blue-fire.png");
    background-size: 100%;
}

.ctr {
    position: relative;
    width: 20%;
    height: 100%;
}

.ctr1 {
    position: absolute;
    height: 95%;
    width: 100%;
    bottom: 0;
    left: 0;
    border: solid 1px black;
    /* background-color: #99badd; */
    background-color: #f907fc;
    background-image: linear-gradient(315deg, #f907fc 0%, #05d6d9 74%);
    border-radius: 1.5em;
}

.filler {
    width: 100%;
    height: 100%;
    background-color: gray;
}

.ending-screen-ctr {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
}

.ending-screen {
    width: 50%;
    height: 100%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 3em;
    text-align: center;
    padding: 30px;
    color: #9564c5;
    letter-spacing: 1px;
}

.ending-screen h3 {
    margin-top: 10px;
}

.ending-screen h2 {
    color: #99badd;
}

.ending-screen button {
    margin-top: 10px;
}

.star {
    color: gold;
}

.selectDisable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#currNoteLine {
    position: absolute;
    left: 10%;
    bottom: 0;
    font-size: 2em;
    color: white;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}